.content-wrapper
	.columns.three
		.row.profile
			label Client Profile
			p First Name: {{firstname}}
			p Last Name: {{lastname}}
			p Location: {{location}}
		.row.call-duration
			label Average call duration: {{call_duration}}
			canvas#call-duration-graph.chart.chart-bar(chart-data="data" chart-labels="labels")
		.row.message
			p Message for <strong>{{firstname}} {{lastname}}</strong>
			textarea(style="height:20%")#message.center
			button.button-primary Submit

	.columns.three
		.row.call-list
			label Call List
			hr
			ul(ng-repeat="call in callList")
				li(ng-click="showNotes(call.id)")
					.call {{call.id}} {{call.agent}}

	.columns.six
		.row.most-recent
			label Most Recent Call
			hr
		.row.most-frequent
			label Most Frequent Call
			hr
		.row.notes
			label Notes
			ui(ng-repeat="note in notes")
				li {{note}}