//- .content-wrapper
//- 	.columns.three
//- 		.row.profile
//- 			label Client Profile
//- 			p First Name: {{firstname}}
//- 			p Last Name: {{lastname}}
//- 			p Location: {{location}}
//- 		.row.call-duration
//- 			label Average call duration: {{call_duration}}
//- 			canvas#call-duration-graph.chart.chart-bar(chart-data="data" chart-labels="labels")
//- 		.row.message
//- 			p Message for <strong>{{firstname}} {{lastname}}</strong>
//- 			textarea(style="height:20%")#message.center
//- 			button.button-primary Submit

//- 	.columns.three
//- 		.row.call-list
//- 			label Call List
//- 			hr
//- 			ul(ng-repeat="call in callList")
//- 				li(ng-click="showNotes(call.id)")
//- 					.call {{call.id}} {{call.agent}}

//- 	.columns.six
//- 		.row.most-recent
//- 			label Most Recent Call
//- 			hr
//- 		.row.most-frequent
//- 			label Most Frequent Call
//- 			hr
//- 		.row.notes
//- 			label Notes
//- 			ui(ng-repeat="note in notes")
//- 				li {{note}}

.client-profile
	.client-picture
	.client-name
		| {{ firstname + ' ' + lastname }}
	.client-location
		| {{ location }}
	.logo
		| Powered by <i>Dustin</i>

.client-block-path
	.header
		| Recent Call Path
	.call-block-container
		.call-block(ng-repeat='block in paths')
			.call-branch(ng-if='$index != 0')
			| {{ block }}

.call-queue
	.header
		| Call Queue
	.call-container
		.call(ng-repeat='caller in ["Chakrit Nimmanant", "Rakesh Tailor", "Michael Aronzon", "Leon Vymenets", "Jennifer Li", 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]')
			| {{ caller }}

.client-control-panel
	.client-control-panel-widget
		.title
			| Average Call Duration: {{ avg_duration }}
		canvas#call-duration-graph.chart.chart-bar(chart-data="data" chart-labels="labels")
	.client-control-panel-widget
		.header
			| Notes About Client
		.note-container
			//- repeat notes
			.note(ng-repeat="note in notes")
				| {{ note }}
		.note-writer
			textarea(ng-model="newnote")
			.add-note-button(ng-click="leaveNote()")
				| Add Note
	.client-control-panel-widget
		.header
			| Follow-Up Message to Client
		textarea#message-to-client(ng-model="msg")
		.send-message-button(ng-click="sendSMS()")
			| Send Message
		.send-voice-mail-button(ng-click="sendVoiceMessage()")
			| Send Voice Mail