html
	head
		meta(charset='utf8')
		base(href='/')

		link(rel='stylesheet', type='text/css', href='css/cloak.css')
		link(rel='stylesheet', type='text/css', href='css/normalize.css')
		link(rel='stylesheet', type='text/css', href='css/skeleton.css')

	body
		block view

		//- lib
		script(src='js/lib/angular.min.js')
		script(src='js/lib/angular-route.min.js')
		script(src='https://cdn.socket.io/socket.io-1.3.5.js')

		//- controllers
		script(src='js/controllers/index.js')
		script(src='js/controllers/mainctrl.js')
		script(src='js/controllers/homectrl.js')

		script(src='js/app.js')