.content-wrapper {
    padding:5px;
}

.profile {
    padding:10px;
    background-color: lightcoral;
    height: 25%;
}

.profile p {
    margin : 0 0;
}

.call-duration {
    padding:10px;
    background-color: lightcyan;
    height: 20%;
}

.message {
    background-color: lightgoldenrodyellow;
    height: 55%;
    overflow: scroll;
}

.call-list ul {
    margin: 0px;
}

.call-list {
    background-color: lightgreen;
    height: 100%;
}

.call-list li {
    list-style-type: none;
    padding: 10px;
    margin: 2px;
    box-shadow: rgb(136, 136, 136) 2px 2px 2px;
}

.most-recent {
    background-color: lightpink;
    height: 33%;
}

.most-frequent {
    background-color: lightsteelblue;
    height: 33%;
}

.notes {
    background-color: lightslategrey;
    height: 33%;
}