hr {
    margin: 0 0;
}

.three.columns {
    width: 24%;
}

.six.columns {
    width: 50%;
}

.column, .columns {
    margin-left: 1%;
}

.row {
    margin-bottom: 2px;
    border: 1px solid;
    box-shadow: rgb(136, 136, 136) 1px 1px 1px;
}

.content-wrapper {
    padding:5px;
}

.profile {
    padding:10px;
    background-color: lightcoral;
}

.profile p {
    margin : 0 0;
}

.call-duration {
    padding:10px;
    background-color: lightcyan;
}

.message {
    padding:10px;
    background-color: lightgoldenrodyellow;
}

.call-list ul {
    margin: 0px;
}

.call-list {
    padding:10px;
    background-color: lightgreen;
}

.call-list li {
    list-style-type: none;
    padding: 10px;
    margin: 2px;
    box-shadow: rgb(136, 136, 136) 2px 2px 2px;
}

.most-recent {
    background-color: lightpink;
    height: 33%;
}

.most-frequent {
    background-color: lightsteelblue;
    height: 33%;
}

.notes {
    background-color: lightslategrey;
    height: 30%;
}

.notes li {
    list-style-type: none;
    padding: 10px;
    margin: 2px;
}